  .navbar-color {
    background-color: #404040;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 8rem;            /* Footer height */
    background-color: #404040;
    color: white;
    text-align: center;
  }

  .footer-links{
    color: white;
  }